.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 30px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}


.route-card {
    display: flex;
    align-items: flex-start;
    gap: 22px;

    background: linear-gradient(150deg, #ffffff 0%, #faf5ff 45%, #f3eaff 100%);
    border: 1px solid #e7d9ff;
    border-radius: 22px;

    padding: 26px 28px;
    box-shadow: 0 10px 35px rgba(125, 40, 224, 0.08);
    transition: transform .25s ease, box-shadow .25s ease;
}

.route-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 40px rgba(125, 40, 224, 0.12);
}



.route-left {
    display: flex;
    align-items: center;
}

.route-number {
    width: 60px;
    height: 60px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 22px;
    font-weight: 700;
}



.route-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}


.route-top {
    display: flex;
    align-items: center;
    gap: 12px;
}

.route-title {
    font-size: 22px;
    margin: 0;
    color: #2e005c;
}

.route-type {
    font-size: 13px;
    padding: 6px 12px;
    border-radius: 12px;
    background: #e9dcff;
    color: #5b10a8;
    font-weight: 500;
}



.route-description {
    font-size: 16px;
    margin: 0;
    margin-top: -4px;
    color: #3b1668;
}


.route-details {
    display: flex;
    gap: 16px;
    margin-top: 4px;
}

.route-stops,
.route-fare {
    background: #f4eaff;
    padding: 6px 14px;
    border-radius: 12px;
    color: #6a11c8;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}
