<footer>
    <ul>
        <li class="hover-link"><a href="/restaurants">Restaurante</a></li>
        <li class="hover-link"><a href="/hotels">Hotele</a></li>
        <li class="hover-link"><a href="/weather">Meteo</a></li>
        <li class="hover-link"><a href="/bus">Linii de autobuz</a></li>
        <li class="hover-link"><a href="/alerts">Alerte</a></li>
        <li class="hover-link"><a href="/alerts">Probleme în oraș</a></li>
        <li class="hover-link"><a href="https://www.primariatm.ro/">Stai conectat cu Timișoara</a></li>
    </ul>
    <div class="copyright-text">
        &copy; Timișoara Viewer App 2025<br />
    </div>
    <ul>
        <li>Credits:</li>
        <li>tyr4 - git maintainer & frontend</li>
        <li>AkanoSz2 - api's & backend</li>
        <li>Cici20BAR - frontend</li>
        <li>Marcu-Mihai-Vlad - frontend</li>
    </ul>
</footer>