{% extends 'landing/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/alerts.css' %}">
{% endblock %}

{% block content %}
    <main>
    <h1>Secțiunea de alerte</h1>
    <div class="issue-card" data-type="emergency">
        <div class="issue-icon"><i class="fa-solid fa-triangle-exclamation"></i></div>

        <div class="issue-content">
            <span class="issue-tag emergency">Urgență</span>
            <span class="issue-zone">Piața Operei</span>

            <h3 class="issue-title">Scurgere de gaz în aproprierea centrului orașului</h3>
            <p class="issue-desc">Autoritățile investighează o posibilă scurgere de gaz în aproprierea Pieței Operei</p>
        </div>
    </div>

    <div class="issue-card" data-type="infrastructure">
        <div class="issue-icon"><i class="fa-solid fa-road"></i></div>

        <div class="issue-content">
            <span class="issue-tag infrastructure">Infrastructură</span>
            <span class="issue-zone">Strada Cluj</span>

            <h3 class="issue-title">Stâlp de iluminat defect</h3>
            <p class="issue-desc">Un stâlp de iluminat de pe Strada Cluj nu funcționează pe timpul nopții</p>
        </div>
    </div>

    <div class="issue-card" data-type="weather">
        <div class="issue-icon"><i class="fa-solid fa-cloud-showers-heavy"></i></div>

        <div class="issue-content">
            <span class="issue-tag weather">Meteo</span>
            <span class="issue-zone">Pasajul Mihai Viteazu</span>

            <h3 class="issue-title">Pasaj inundat</h3>
            <p class="issue-desc">Ploaia puternică a provocat acumulare de apă în zona pasajului Mihai Viteazu</p>
        </div>
    </div>
</main>
{% endblock %}

{% block extra_js %}
{% endblock %}