{% extends 'landing/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/restaurants.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="restaurants-header">
            <h1>Restaurants section</h1>
            <div class="restaurants-dropdown-container">
                <select class="restaurants-dropdown-menu">
                    <option value="all">All</option>
                    <option value="fine">Fine Dining</option>
                    <option value="casual">Casual Dining</option>
                    <option value="fastfood">Fast Food</option>
                </select>
            </div>
            <div class="restaurants-render-container">
                <select class="restaurants-dropdown-menu">
                    <option value="all">10</option>
                    <option value="fine">25</option>
                    <option value="casual">50</option>
                    <option value="fastfood">100</option>
                </select>
            </div>
        </div>

        <div class="restaurants-grid" id="restaurantsSection">
            <div class="restaurants-card">
                <div class="restaurant-background">
                    <img class="restaurant-background-image" src="images/restaurant1.jpg" alt="">
                </div>
                <div class="restaurants-info-container">
                    <div class="restaurants-name">
                        <p class="restaurant-name-text">Restaurant Timisoara</p>
                    </div>
                    <div class="restaurants-address">
                        <i class='fas fa-map-marker-alt'></i>
                        Str. Ionel Ionescu nr. 123
                    </div>

                    <div class="restaurants-phone-number">
                        <i class="fa-solid fa-phone"></i>
                        0771337420
                    </div>

                    <div class="restaurants-icon">
                        <i class="fa-solid fa-bowl-food"></i>
                        Food type: Fine dining
                    </div>

                    <div class="restaurants-description">
                        <i class="fa-sharp fa-solid fa-clock"></i>
                        Open hours: 12:00 - 23:00
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/restaurants.js' %}"></script>
{% endblock %}