main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* Container principal */
.complaint-container {
    width: 500px;
    background: #ffffff;
    padding: 40px 35px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Input-uri */
.complaint-container input {
    width: 100%;
    padding: 12px 5px;
    border: 1px solid #cccccc;
    border-radius: 12px;
    font-size: 15px;
    transition: all 0.25s ease;
}

.complaint-container input:focus {
    border-color: #6d19c2;
    box-shadow: 0 0 10px rgba(109, 25, 194, 0.35);
    outline: none;
}


select {
    width: 100%;
    padding: 12px 15px;
    border-radius: 12px;
    border: 1px solid #cccccc;
    font-size: 15px;
    background: white;
    transition: border-color 0.25s ease;
}

select:focus {
    border-color: #6d19c2;
    box-shadow: 0 0 10px rgba(109, 25, 194, 0.35);
    outline: none;
}

/* Textarea */
textarea {
    width: 100%;

    padding-right: 15px;
    border-radius: 12px;
    border: 1px solid #cccccc;
    font-size: 15px;
    resize: vertical;
    min-height: 110px;
    transition: border-color 0.25s ease;
}

textarea:focus {
    border-color: #6d19c2;
    box-shadow: 0 0 10px rgba(109, 25, 194, 0.35);
    outline: none;
}
