/*widget container*/
.widgets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    justify-items: left;   /* centrează elementele pe orizontală */
    align-items: center;       /* le aliniază sus */
    width: 100%;
    margin: 0 auto;
    max-width:1200px;
    padding-top: 100px;
}

.widget{
    background: linear-gradient(135deg, #ffffff, #f3f3f7);
    width: 100%;
    height: 160px;
    margin-top: -8px;
    transition: transform 0.25s ease;
}

.widget:hover {
    background: linear-gradient(135deg, #ffffff, #f3f3f7);
    transform: translateY(-5px);
}